{{left_sidebar_enabled,right_sidebar_enabled=False,('' in globals())}}
{{extend 'layout.html'}}


<center>{{=A(IMG(_width="800px,heigth=1000px",_src=URL(r=request, c='static', f='polideportivo.jpg'), _title='polideportivo'))}} 
</center>

{{if auth.has_membership(role="auth_user"):}}
<center>{{=A(IMG(_width="800px,heigth=1000px",_src=URL(r=request, c='static', f='polideportivo.jpg'), _title='polideportivo'))}} 
</center>


{{if auth.has_membership(role="administrador"):}}
<center>{{=A(IMG(_width="800px,heigth=1000px",_src=URL(r=request,c='static',f='admin.jpg'),_title='administrativo'))}}
</center>

{{pass}} 
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}



{{end}}
